<h4>
  Estudantes
  <small>
  <%= link_to 'Novo', new_student_path %>
</h4>
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Estudante</th>
      <th>Numero Registro</th>
      <th>Status</th>
      <th>Show</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student|%>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.register_number %></td>
        <td><%= student.status %></td>
        <td>
          <%= link_to student_path(student.id) do %>
            <%= content_tag :span, nil, class: "glyphicon glyphicon-plus" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
