<%= form_for @course, html: {class: "form-horizontal"} do |f| %>
  <% if @course.errors.any? %>
    <div class="bg-danger">
      <% @course.errors.each do |attribute, message| %>
        <p class="text-muted"><%= attribute%> - <%= message %></p>
      <% end %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: "col-md-2 control-label", for: "textinput" %>
    <div class="col-md-4">
      <%= f.text_field :name, maxlength: 45, class: "form-control input-md" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, class: "col-md-2 control-label", for: "textinput" %>
    <div class="col-md-4">
      <%= f.text_field :description, maxlength: 45, class: "form-control input-md" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :status, class: "col-md-2 control-label", for: "radios" %>
    <div class="col-md-4">
      <label class="radio-inline" for="radios-0">
        <%= radio_button("course", "status", 1, checked: true) %>
        Ativo
      </label>
      <label class="radio-inline" for="radios-1">
        <%= radio_button("course", "status", 2) %>
        Inativo
      </label>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-7 pull-right">
      <%= f.button :submit, class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
