<div class="content">
  <h4 class="title">
    <%= @course.name %>
    <small>
    <%= link_to 'Voltar', courses_path %>
  </h4>
  <div class="box_show">
    <p>Descrição: <%= @course.description %></p>
    <p>Status: <%= status_name @course.status %></p>
  </div>
  <%= link_to 'Deletar', {action: 'destroy', id: @course}, {method: "delete"}  %> |
  <%= link_to 'Editar', edit_course_path(@course.id) %>
</div>
