<!DOCTYPE html>
<html>
  <head>
    <title>Controle de Mátriculas</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
         <%= link_to 'Controle de Mátriculas', root_path, class: "navbar-brand" %>
        </div>
        <div class="collapse navbar-collapse">
          <% if user_signed_in? %>
            <ul class="nav navbar-nav">
              <li><%= link_to 'Estudantes', students_path %></li>
              <li><%= link_to 'Cursos', courses_path %></li>
              <li><%= link_to 'Mátriculas', classrooms_path %></li>
              <li><%= link_to 'Sair', destroy_user_session_path %></li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
    <div class="container">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
  </body>
</html>
